<% case action %>
<% when 'create' %>
Ticket shared with your group (<%= ticket.title %>)
<% when 'update' %>
Ticket share updated (<%= ticket.title %>)
<% when 'revoke' %>
Ticket share revoked (<%= ticket.title %>)
<% when 'delete' %>
Ticket share deleted (<%= ticket.title %>)
<% else %>
Ticket share notification (<%= ticket.title %>)
<% end %>

<div>Hi <%= recipient.firstname %>,</div>
<br>
<% case action %>
<% when 'create' %>
<div>Ticket "<b><%= ticket.title %></b>" has been shared with your group "<b><%= share.group.name %></b>" by "<b><%= share.shared_by.fullname %></b>".</div>
<% when 'update' %>
<div>The share settings for ticket "<b><%= ticket.title %></b>" have been updated by "<b><%= actor.longname %></b>".</div>
<% when 'revoke' %>
<div>Access to ticket "<b><%= ticket.title %></b>" has been revoked by "<b><%= actor.longname %></b>".</div>
<% when 'delete' %>
<div>The share for ticket "<b><%= ticket.title %></b>" has been deleted.</div>
<% else %>
<div>There has been an update to the share for ticket "<b><%= ticket.title %></b>".</div>
<% end %>
<br>
<div>
Ticket: #<%= ticket.number %><br>
Group: <%= share.group.name %><br>
Shared by: <%= share.shared_by.fullname %><br>
<% if share.message.present? %>
Message: <%= share.message %><br>
<% end %>
<% if share.expires_at.present? %>
Expires: <%= share.expires_at.strftime('%Y-%m-%d') %><br>
<% end %>
</div>
<br>
<% unless ['revoke', 'delete'].include?(action) %>
<div>
  <a href="<%= config.http_type %>://<%= config.fqdn %>/#ticket/zoom/<%= ticket.id %>" target="zammad_app">View this in <%= config.product_name %></a>
</div>
<% end %>
